html
  head
    title Manige Yo Seff
    block links
      link(rel="icon", href="data:;base64,=")
      link(rel='stylesheet', href='css/main.css')
    block scripts 
  body 
    block content 
    if links
      .linkbar
      | or: 
      each link of links
        a(href=link.href)
          button=link.text
    h1(x-data="{ message: 'I ❤️ Alpen'}")
      div(x-text="message")
      
  block foot 
      #footer 
        p Courtesy Of Login Inc
